In [12]:
import pandas as pd 

df_despesas= pd.read_csv('2017/despesas-2017.csv')

df_despesas = df_diaria.drop(['ï»¿""', 'SqLiquidacao', 'SqDiaria', 'ParentForm', 'TpOrigem' ], axis=1)
df_despesas.head()

,"ï»¿""""",Órgão,Unidade,Data,Empenho,Processo,Credor,Pago,Retido,Nota de Pagamento,CNPJ,DsEmpenho,DsItemDespesa
4040,NaN,3,303,10/01/2017,89,4,00.703.157/0001-83 - CONFEDERACAO NACIONAL DE ...,"R$1.337,00","R$0,00",27,13810312000102,PARA FAZER FACE A DESPESAS COM CONTRIBUIÇÃO DE...,33909200 - Despesas de Exercícios Anteriores
4041,NaN,4,404,10/01/2017,27,2,00.394.460/0222-00 - MINISTERIO DA FAZENDA,"R$0,55","R$0,00",2,13810312000102,PARA FAZER FACE A DESPESA COM AS CONTRIBUIÇÕES...,33904700 - Obrigações Tributárias e Contributivas
4042,NaN,4,404,10/01/2017,27,3,00.394.460/0222-00 - MINISTERIO DA FAZENDA,"R$9.793,09","R$0,00",3,13810312000102,PARA FAZER FACE A DESPESA COM AS CONTRIBUIÇÕES...,33904700 - Obrigações Tributárias e Contributivas
4043,NaN,3,303,10/01/2017,128,5,15.139.629/0001-94 - COELBA - COMPANHIA DE ELE...,"R$7.238,84","R$0,00",98,13810312000102,PARA FAZER FACE A DESPESA NA PRESTAÇÃO DE SERV...,33909200 - Despesas de Exercícios Anteriores
4044,NaN,3,303,03/01/2017,127,1,15.139.629/0001-94 - COELBA - COMPANHIA DE ELE...,"R$13.582,40","R$0,00",97,13810312000102,PARA FAZER FACE A DESPESA NA PRESTAÇÃO DE SERV...,33909200 - Despesas de Exercícios Anteriores