In [13]:
#Importando biblioteca para trabalhar
import pandas as pd
import numpy as np 
df_mes = pd.read_csv('out.csv', encoding='latin-1', decimal=',')

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split('R$')[1])

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split()[0].replace('.', ''))

df_mes['Salário Base'] = df_mes['Salário Base'].str.replace(',', '.').astype(float)
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].str.replace(',', '.').astype(float)
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].str.replace(',', '.').astype(float)

lista_colunas_sum = ['Salário Base', 'Salário Vantagens', 'Salário Gratificação']
df_mes['Valor Recebido'] = df_mes.loc[:,lista_colunas_sum].sum(axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,POLICIA LEGISLATIVA,1100.0,275.0,0.0,1375.0
1,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,POLICIA LEGISLATIVA,1100.0,0.0,0.0,1100.0
2,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,VEREADOR,9400.0,0.0,0.0,9400.0
3,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,RECEPCIONISTA,998.0,249.9,0.0,1247.9
4,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,RECEPCIONISTA,998.0,0.0,0.0,998.0

In [14]:
df_mes.insert(loc=3, 
             column = 'Mês',
             value = 'outubro')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,outubro,POLICIA LEGISLATIVA,1100.0,275.0,0.0,1375.0
1,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,outubro,POLICIA LEGISLATIVA,1100.0,0.0,0.0,1100.0
2,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,outubro,VEREADOR,9400.0,0.0,0.0,9400.0
3,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,outubro,RECEPCIONISTA,998.0,249.9,0.0,1247.9
4,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,outubro,RECEPCIONISTA,998.0,0.0,0.0,998.0

In [15]:
df_mes.insert(loc=4, 
             column = 'Ano',
             value = '2019')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,outubro,2019,POLICIA LEGISLATIVA,1100.0,275.0,0.0,1375.0
1,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,outubro,2019,POLICIA LEGISLATIVA,1100.0,0.0,0.0,1100.0
2,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,outubro,2019,VEREADOR,9400.0,0.0,0.0,9400.0
3,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,outubro,2019,RECEPCIONISTA,998.0,249.9,0.0,1247.9
4,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,outubro,2019,RECEPCIONISTA,998.0,0.0,0.0,998.0

In [16]:
df_mes.to_csv('dados-limpos/out-2019-limpo.csv', index=False, encoding='utf-8')

In [17]:
df = pd.read_csv('dados-limpos/out-2019-limpo.csv')
df.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,outubro,2019,POLICIA LEGISLATIVA,1100.0,275.0,0.0,1375.0
1,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,outubro,2019,POLICIA LEGISLATIVA,1100.0,0.0,0.0,1100.0
2,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,outubro,2019,VEREADOR,9400.0,0.0,0.0,9400.0
3,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,outubro,2019,RECEPCIONISTA,998.0,249.9,0.0,1247.9
4,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,outubro,2019,RECEPCIONISTA,998.0,0.0,0.0,998.0

In [18]:
import openpyxl
df = pd.read_csv('dados-limpos/out-2019-limpo.csv')
df.to_excel('dados-limpos/xlsx/out-2019-xlsx.xlsx', index=False, encoding='utf-8')