In [134]:
#Importando biblioteca para trabalhar
import pandas as pd
import numpy as np 
df_mes = pd.read_csv('dez-2020.csv', encoding='latin-1', decimal=',')

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split('R$')[1])

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split()[0].replace('.', ''))

df_mes['Salário Base'] = df_mes['Salário Base'].str.replace(',', '.').astype(float)
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].str.replace(',', '.').astype(float)
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].str.replace(',', '.').astype(float)

lista_colunas_sum = ['Salário Base', 'Salário Vantagens', 'Salário Gratificação']
df_mes['Valor Recebido'] = df_mes.loc[:,lista_colunas_sum].sum(axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,POLICIA LEGISLATIVA,1100.00,275.0,0.0,1375.00
1,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,POLICIA LEGISLATIVA,1100.00,275.0,0.0,1375.00
2,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,VEREADOR,10128.89,0.0,0.0,10128.89
3,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,RECEPCIONISTA,1045.00,304.5,0.0,1349.50
4,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,RECEPCIONISTA,1045.00,304.5,0.0,1349.50

In [135]:
df_mes.insert(loc=3, 
             column = 'Mês',
             value = 'dezembro')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,dezembro,POLICIA LEGISLATIVA,1100.00,275.0,0.0,1375.00
1,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,dezembro,POLICIA LEGISLATIVA,1100.00,275.0,0.0,1375.00
2,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,dezembro,VEREADOR,10128.89,0.0,0.0,10128.89
3,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,dezembro,RECEPCIONISTA,1045.00,304.5,0.0,1349.50
4,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,dezembro,RECEPCIONISTA,1045.00,304.5,0.0,1349.50

In [136]:
df_mes.insert(loc=4, 
             column = 'Ano',
             value = '2020')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,dezembro,2020,POLICIA LEGISLATIVA,1100.00,275.0,0.0,1375.00
1,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,dezembro,2020,POLICIA LEGISLATIVA,1100.00,275.0,0.0,1375.00
2,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,dezembro,2020,VEREADOR,10128.89,0.0,0.0,10128.89
3,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,dezembro,2020,RECEPCIONISTA,1045.00,304.5,0.0,1349.50
4,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,dezembro,2020,RECEPCIONISTA,1045.00,304.5,0.0,1349.50

In [137]:
df_mes.to_csv('dados-limpos/dez-2020-limpo.csv', index=False, encoding='utf-8')

In [138]:
df = pd.read_csv('dados-limpos/dez-2020-limpo.csv')
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nome                  59 non-null     object
 1   Matrícula             59 non-null     int64
 2   Tipo Servidor         59 non-null     object
 3   Mês                   59 non-null     object
 4   Ano                   59 non-null     int64
 5   Cargo                 59 non-null     object
 6   Salário Base          59 non-null     float64
 7   Salário Vantagens     59 non-null     float64
 8   Salário Gratificação  59 non-null     float64
 9   Valor Recebido        59 non-null     float64
dtypes: float64(4), int64(2), object(4)
memory usage: 4.7+ KB

In [156]:
import openpyxl
df = pd.read_csv('dados-limpos/dez-2020-limpo.csv')
df.to_excel('dados-limpos/xlsx/dez-2020-xlsx.xlsx', index=False, encoding='utf-8')