In [75]:
#Importando biblioteca para trabalhar
import pandas as pd
import numpy as np 

mes = 'dez'
df_mes = pd.read_csv(mes + '.csv', encoding='latin-1', decimal=',')
#df_mes = df_mes.drop(['Unnamed: 7'], axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,AGENTE DE SEGURANÇA,"R$ 788,00","R$ 157,60","R$ 0,00"
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,VEREADOR,"R$ 7.000,00","R$ 0,00","R$ 0,00"
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,RECEPCIONISTA,"R$ 788,00","R$ 0,00","R$ 0,00"
3,ARGEMIRA SANTOS DE JESUS,54,Cargo Efetivo/ Estatutário,APOSENTADO/PENSIONISTA,"R$ 620,40","R$ 395,01","R$ 0,00"
4,CARLOS ALBERTO DE SANTANA FARIAS,152,Agente Político,VEREADOR,"R$ 7.000,00","R$ 0,00","R$ 0,00"

In [76]:


df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split('R$')[1])

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split()[0].replace('.', ''))

df_mes['Salário Base'] = df_mes['Salário Base'].str.replace(',', '.').astype(float)
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].str.replace(',', '.').astype(float)
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].str.replace(',', '.').astype(float)

lista_colunas_sum = ['Salário Base', 'Salário Vantagens', 'Salário Gratificação']
df_mes['Valor Recebido'] = df_mes.loc[:,lista_colunas_sum].sum(axis=1)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,AGENTE DE SEGURANÇA,788.0,157.60,0.0,945.60
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,VEREADOR,7000.0,0.00,0.0,7000.00
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,RECEPCIONISTA,788.0,0.00,0.0,788.00
3,ARGEMIRA SANTOS DE JESUS,54,Cargo Efetivo/ Estatutário,APOSENTADO/PENSIONISTA,620.4,395.01,0.0,1015.41
4,CARLOS ALBERTO DE SANTANA FARIAS,152,Agente Político,VEREADOR,7000.0,0.00,0.0,7000.00

In [77]:
df_mes.insert(loc=3, 
             column = 'Mês',
             value = 'dezembro')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,dezembro,AGENTE DE SEGURANÇA,788.0,157.60,0.0,945.60
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,dezembro,VEREADOR,7000.0,0.00,0.0,7000.00
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,dezembro,RECEPCIONISTA,788.0,0.00,0.0,788.00
3,ARGEMIRA SANTOS DE JESUS,54,Cargo Efetivo/ Estatutário,dezembro,APOSENTADO/PENSIONISTA,620.4,395.01,0.0,1015.41
4,CARLOS ALBERTO DE SANTANA FARIAS,152,Agente Político,dezembro,VEREADOR,7000.0,0.00,0.0,7000.00

In [78]:
df_mes.insert(loc=4, 
             column = 'Ano',
             value = '2014')

df_mes.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,dezembro,2015,AGENTE DE SEGURANÇA,788.0,157.60,0.0,945.60
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,dezembro,2015,VEREADOR,7000.0,0.00,0.0,7000.00
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,dezembro,2015,RECEPCIONISTA,788.0,0.00,0.0,788.00
3,ARGEMIRA SANTOS DE JESUS,54,Cargo Efetivo/ Estatutário,dezembro,2015,APOSENTADO/PENSIONISTA,620.4,395.01,0.0,1015.41
4,CARLOS ALBERTO DE SANTANA FARIAS,152,Agente Político,dezembro,2015,VEREADOR,7000.0,0.00,0.0,7000.00

In [79]:
df_mes.to_csv('dados-limpos/' + mes + '-2014-limpo.csv', index=False, encoding='utf-8')

In [80]:
df = pd.read_csv('dados-limpos/' + mes + '-2014-limpo.csv')
df.head()

,Nome,Matrícula,Tipo Servidor,Mês,Ano,Cargo,Salário Base,Salário Vantagens,Salário Gratificação,Valor Recebido
0,ABEL MACEDO DE JESUS,157,Cargo Efetivo/ Estatutário,dezembro,2015,AGENTE DE SEGURANÇA,788.0,157.60,0.0,945.60
1,ADEMILTON SANTANA DE MIRANDA,156,Agente Político,dezembro,2015,VEREADOR,7000.0,0.00,0.0,7000.00
2,ANE LUISE REIS DE SANTANA MACEDO,111,Cargo Efetivo/ Estatutário,dezembro,2015,RECEPCIONISTA,788.0,0.00,0.0,788.00
3,ARGEMIRA SANTOS DE JESUS,54,Cargo Efetivo/ Estatutário,dezembro,2015,APOSENTADO/PENSIONISTA,620.4,395.01,0.0,1015.41
4,CARLOS ALBERTO DE SANTANA FARIAS,152,Agente Político,dezembro,2015,VEREADOR,7000.0,0.00,0.0,7000.00

In [81]:
import openpyxl
df = pd.read_csv('dados-limpos/' + mes + '-2014-limpo.csv')
df.to_excel('dados-limpos/xlsx/' + mes + '-2014-xlsx.xlsx', index=False, encoding='utf-8')