In [7]:
#Importando biblioteca para trabalhar
import pandas as pd
import numpy as np 
import openpyxl
import time 

mes = 'mar'
ano = '2011'

if mes == 'jan':
    nome_mes = 'janeiro'
elif mes == 'fev': 
    nome_mes = 'fevereiro'
elif mes == 'mar':
    nome_mes = 'março'
elif mes == 'abr':
    nome_mes = 'abril'
elif mes == 'mai':
    nome_mes = 'maio'
elif mes == 'jun':
    nome_mes = 'junho'
elif mes == 'jul':
    nome_mes = 'julho'
elif mes == 'ago': 
    nome_mes = 'agosto'
elif mes == 'set':
    nome_mes = 'setembro'
elif mes == 'out':
    nome_mes = 'outubro'
elif mes == 'nov': 
    nome_mes = 'novembro'
elif mes == 'dez': 
    nome_mes = 'dezembro'

df_mes = pd.read_csv(mes + '.csv', encoding='latin-1', decimal=',')
#df_mes = df_mes.drop(['Unnamed: 7'], axis=1)
time.sleep(2)
df_mes.head()

,Nome,Matrícula,Tipo Servidor,Cargo,Salário Base,Salário Vantagens,Salário Gratificação
0,ABIGAIL DONATA ALVES,1951,Cargo Efetivo/ Estatutário,AGENTE COMUNITÁRIO DE SAÚDE,"R$ 670,00","R$ 278,00","R$ 0,00"
1,ABIGAIL OLIVEIRA DOS SANTOS,9929,Cargo Efetivo/ Estatutário,AGENTE DE LIMPEZA,"R$ 545,00","R$ 0,00","R$ 0,00"
2,ABRAHAO SILVA MAIA,8063,Cargo Efetivo/ Estatutário,GUARDA MUNICIPAL,"R$ 735,75","R$ 99,24","R$ 183,94"
3,ADAIDES JESUS DA SILVA,89,Cargo Efetivo/ Estatutário,AGENTE DE SERVIÇO,"R$ 545,00","R$ 109,00","R$ 0,00"
4,ADAIL SANTOS DE JESUS,510,Cargo Efetivo/ Estatutário,AGENTE DE SERVIÇO,"R$ 545,00","R$ 109,00","R$ 0,00"

In [ ]:


df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split('R$')[1])
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split('R$')[1])

df_mes['Salário Base'] = df_mes['Salário Base'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].apply(lambda x: x.split()[0].replace('.', ''))
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].apply(lambda x: x.split()[0].replace('.', ''))

df_mes['Salário Base'] = df_mes['Salário Base'].str.replace(',', '.').astype(float)
df_mes['Salário Vantagens'] = df_mes['Salário Vantagens'].str.replace(',', '.').astype(float)
df_mes['Salário Gratificação'] = df_mes['Salário Gratificação'].str.replace(',', '.').astype(float)

lista_colunas_sum = ['Salário Base', 'Salário Vantagens', 'Salário Gratificação']
df_mes['Valor Recebido'] = df_mes.loc[:,lista_colunas_sum].sum(axis=1)

time.sleep(2) 

df_mes.insert(loc=3, 
             column = 'Mês',
             value = nome_mes)
time.sleep(2)
df_mes.insert(loc=4, 
             column = 'Ano',
             value = ano)

df_mes.head()

In [6]:
df_mes.to_csv('dados-limpos/' + mes + '-2011-limpo.csv', index=False, encoding='utf-8')
time.sleep(3) 
df = pd.read_csv('dados-limpos/' + mes + '-2011-limpo.csv')
df.to_excel('dados-limpos/xlsx/' + mes + '-2011-xlsx.xlsx', index=False, encoding='utf-8')