In [5]:
import pandas as pd
import numpy as np


mestrado_geral = pd.read_csv('mestrado_geral.csv', dtype = {'Matrícula': str})
mestrado_baixado = pd.read_csv('mestrado_baixado.csv', dtype = {'Matrícula': str})

lista = mestrado_baixado['Matrícula'].tolist()
lista[5]

'201210819'

In [10]:
#To select rows whose column value is in list 
#years = [1952, 2007]
#gapminder.year.isin(years)


df = mestrado_geral[~mestrado_geral['Matrícula'].isin(lista)]
df.shape

(1941, 5)

In [11]:
df.head()

,Matrícula,Nome,Curso,Modalidade de Ingresso,Status
1,2018207810,ACACIO COSTA RIBEIRO,MESTRADO PROFISSIONAL EM DEFESA AGROPECUÁRIA -...,NaN,ATIVO
3,2018100028,ADAGILSON SILVA SENA,MESTRADO PROFISSIONAL EM MATEMÁTICA DA SOCIEDA...,NaN,ATIVO
4,2018105051,ADAILDES DA SILVA NASCIMENTO,NaN,NaN,CANCELADO
5,200820513,ADAILSON FEITOZA DE JESUS SANTOS,MESTRADO EM MICROBIOLOGIA AGRÍCOLA - MESTRADO,NaN,CONCLUÍDO
8,20100750,ADAILTON LIBERATO DO NASCIMENTO JUNIOR,MESTRADO EM SOLOS E QUALIDADE DOS ECOSSISTEMAS...,NaN,ATIVO

In [8]:
mestrado_baixado.head()

,Matrícula,Nome,Curso,Modalidade de Ingresso,Status
0,200710468,ACACIA CYLENE ANJOS DA SILVA,MESTRADO EM CIÊNCIAS AGRÁRIAS - MESTRADO,NaN,ATIVO
1,200810490,ACIMAR RIBEIRO DE FREITAS,MESTRADO EM CIÊNCIAS AGRÁRIAS - MESTRADO,NaN,ATIVO
2,200910641,ADAILTON CONCEICAO DOS SANTOS,MESTRADO EM CIÊNCIAS AGRÁRIAS - MESTRADO,NaN,CONCLUÍDO
3,201110737,ADAILTON FREITAS FERREIRA,MESTRADO EM CIÊNCIAS AGRÁRIAS - MESTRADO,NaN,ATIVO
4,200710469,ADELMO PINHEIRO SANTOS,MESTRADO EM CIÊNCIAS AGRÁRIAS - MESTRADO,NaN,CONCLUÍDO

In [12]:
#Salvando o dataset geral
df.to_csv('mestrado_restante.csv', index=False)