In [3]:
from PyPDF2 import PdfFileReader
from nltk.tokenize import SpaceTokenizer 
import pandas as pd
import os
import re
import numpy as np


root_path = './data'
pdf_files = []

# get all pdf files
for dir_path, dir_names, filenames in os.walk(root_path):
    for filename in [f for f in filenames if f.endswith(".pdf")]:
        pdf_files.append(os.path.join(dir_path, filename))
pdf_files

['./data\\201220135LARISSA ISABELLE BORGES LIMA.pdf',
 './data\\201321294ANA MARIA VIEIRA DA SILVA.pdf',
 './data\\201321300ALINE MENEZES DE SOUZA SANTANA.pdf',
 './data\\201321304DANILO SANTOS OLIVEIRA.pdf',
 './data\\201321307DANIELA SANTOS DE JESUS.pdf']

In [9]:
data_novo = [pdf_files]

df_arquivo = pd.DataFrame.from_records(data_novo)
df4 = df_arquivo.T
df4

                                                    0
0  ./data\201220135LARISSA ISABELLE BORGES LIMA.pdf
1  ./data\201321294ANA MARIA VIEIRA DA SILVA.pdf
2  ./data\201321300ALINE MENEZES DE SOUZA SANTANA.pdf
3  ./data\201321304DANILO SANTOS OLIVEIRA.pdf
4  ./data\201321307DANIELA SANTOS DE JESUS.pdf

In [10]:
df4.columns = ['arquivos']

In [11]:
df4

                                             arquivos
0  ./data\201220135LARISSA ISABELLE BORGES LIMA.pdf
1  ./data\201321294ANA MARIA VIEIRA DA SILVA.pdf
2  ./data\201321300ALINE MENEZES DE SOUZA SANTANA.pdf
3  ./data\201321304DANILO SANTOS OLIVEIRA.pdf
4  ./data\201321307DANIELA SANTOS DE JESUS.pdf

In [22]:
df4['arquivos2'] = df4['arquivos'].apply(lambda x: x[7:])
df4['arquivos3'] = df4['arquivos'].apply(lambda x: x[7:19])

In [23]:
df4

,arquivos,arquivos2,arquivos3
0,./data\201220135LARISSA ISABELLE BORGES LIMA.pdf,201220135LARISSA ISABELLE BORGES LIMA.pdf,201220135LAR
1,./data\201321294ANA MARIA VIEIRA DA SILVA.pdf,201321294ANA MARIA VIEIRA DA SILVA.pdf,201321294ANA
2,./data\201321300ALINE MENEZES DE SOUZA SANTANA.pdf,201321300ALINE MENEZES DE SOUZA SANTANA.pdf,201321300ALI
3,./data\201321304DANILO SANTOS OLIVEIRA.pdf,201321304DANILO SANTOS OLIVEIRA.pdf,201321304DAN
4,./data\201321307DANIELA SANTOS DE JESUS.pdf,201321307DANIELA SANTOS DE JESUS.pdf,201321307DAN

In [ ]:
for index, row in df4.iterrows():
        last_name = row['nome']

In [26]:
import tabula
import pandas as pd
pd.set_option("display.max_columns", 200)
#pd.options.display.max_colwidth = 300
pd.set_option('display.max_colwidth', -1)


for index, row in df4.iterrows():
    
    file = row['arquivos2']
    df = tabula.read_pdf(file, pages = 'all', stream = True, guess=False, header=0, pandas_options={'header': None})
    #df = tabula.read_pdf(file, pages = 'all', stream = True, guess=True, header=0, pandas_options={'header': None})

    df.columns = ['coluna1']

    df['nova'] = df['coluna1'].apply(lambda x: x.split('Nome:')[-1])

    df['nova2'] = df['nova'].apply(lambda x: x.split('Matrícula:')[0])

    df['matricula1'] = df['coluna1'].apply(lambda x: x.split('Matrícula:')[-1])

    df['CPF'] = df['coluna1'].apply(lambda x: x.split('CPF:')[-1])

    df['pai1'] = df['coluna1'].apply(lambda x: x.split('Nome do Pai:')[-1])

    df['pai2'] = df['pai1'].apply(lambda x: x.split('Nacionalidade:')[0])

    df2 = df[['nova2', 'matricula1', 'CPF', 'pai2']]

    data = {
        
        'Nome': [df2.iloc[7,0]],
        'Matrícula': [df2.iloc[7,1]],
        'Nome pai': [df2.iloc[9,3]],
        'CPF': [df2.iloc[11,2]]
    }

    df_novo = pd.DataFrame(data, columns=['Nome', 'Matrícula', 'Nome pai', 'CPF'])
    nome_arquivo = row['arquivos3'] + '.csv'
    df_novo.to_csv(nome_arquivo, encoding='utf-8', index=False)