In [1]:
import glob
import pandas as pd
import numpy as np


path =r'C:\Users\Micro\Documents\Folha Pessoal Tucano\teste' # use your path
allFiles = glob.glob(path + "/*.csv")

list_ = []

for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0, low_memory=False)
    list_.append(df)

pessoal = pd.concat(list_, axis = 0, ignore_index = True)

In [2]:
pessoal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2242 entries, 0 to 2241
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Funcionário        2242 non-null   object
 1   CPF/Matrícula      2242 non-null   object
 2   Cargo              2242 non-null   object
 3   Mês de Referência  2242 non-null   object
 4   Salário Bruto      2242 non-null   object
 5   Salário Líquido    2242 non-null   object
dtypes: object(6)
memory usage: 105.2+ KB

In [3]:
pessoal.head()

,Funcionário,CPF/Matrícula,Cargo,Mês de Referência,Salário Bruto,Salário Líquido
0,ABIGAIL DONATA ALVES,#951,AGENTE COMUNITARIO DE SAÚDE,Nov/2020,"R$ 1.820,00","R$ 1.274,70"
1,ABIGAIL OLIVEIRA DOS SANTOS,#929,AGENTE DE LIMPEZA,Nov/2020,"R$ 1.198,12","R$ 1.110,35"
2,ABRAHAO SILVA MAIA,#063,GUARDA CIVIL MUNICIPAL,Nov/2020,"R$ 2.060,44","R$ 1.412,46"
3,ADAILTON ANDRADE DE SOUZA,#135,GUARDA CIVIL MUNICIPAL,Nov/2020,"R$ 1.932,45","R$ 1.797,43"
4,ADAILTON CAVALCANTE DE MOURA,##651,GUARDA CIVIL MUNICIPAL,Nov/2020,"R$ 1.942,70","R$ 1.811,80"

In [8]:
pessoal['Cargo'].value_counts().head(40)

PROFESSOR NIVEL II                          637
AGENTE DE SERVIÇOS                          421
AGENTE DE LIMPEZA                           164
AGENTE COMUNITARIO DE SAÚDE                 114
GUARDA CIVIL MUNICIPAL                      107
PROFESSOR NIVEL I                            78
TECNICO(A) DE ENFERMAGEM                     65
AUXILIAR DE SERVICOS GERAIS                  56
PROFESSOR NIVEL ESPECIAL                     50
AGENTE DE COMBATE AS ENDEMIAS                40
ENFERMEIRO (A)                               37
ASSISTENTE SOCIAL                            35
AGENTE ADMINISTRATIVO                        33
AGENTE DE SERV. DE SEGURANÇA                 30
PROFESSOR NIVEL III                          30
MOTORISTA                                    25
ORIENTADOR(A) SOCIAL                         25
MOTORISTA DE CARRO LEVE                      24
AUXILIAR DE ENFERMAGEM                       22
OPERADOR DE POÇOS                            18
PSICOLOGO(A)                                 16
PROFESSOR DE EDUCACAO INFANTIL               14
DIGITADOR(A)                                 12
CONSELHEIRO(A)                               10
AUDITOR FISCAL DA RECEITA MUNICIPAL          10
MEDICO PLANTONISTA - UPA                      8
NUTRICIONISTA                                 8
FISIOTERAPEUTA                                7
TECNICO EM RADIOLOGIA                         7
OPERADOR DE MAQ. LEVE                         7
EDUCADOR(A) FISICO                            4
PROFESSOR (A)                                 4
FARMACEUTICO (A)                              4
TELEFONISTA                                   4
MECANICO                                      3
ADMINISTRADOR DE POVOADO                      3
AUXILIAR ADMINISTRATIVO                       3
COORDENADOR(A) DA CENTRAL DE CONSULTAS        3
TECNICO FISCAL DO USO E OCUPAÇAO DO SOLO      3
ODONTOLOGO (A)                                2
Name: Cargo, dtype: int64

In [38]:
alunos_ufrb.VALOR = alunos_ufrb.VALOR.astype(float)
#alunos_ufrb['VALOR'] = alunos_ufrb['VALOR'].str.replace('.', '').astype('float')

In [42]:
alunos_ufrb.SIAPE = alunos_ufrb.SIAPE.astype(str)

In [9]:
pessoal.to_csv('arquivo_geral/tcm_pessoal_tucano.csv', index=False, encoding='utf-8')

In [10]:
df2 = pd.read_csv('arquivo_geral/tcm_pessoal_tucano.csv')
df2.head()

,Funcionário,CPF/Matrícula,Cargo,Mês de Referência,Salário Bruto,Salário Líquido
0,ABIGAIL DONATA ALVES,#951,AGENTE COMUNITARIO DE SAÚDE,Nov/2020,"R$ 1.820,00","R$ 1.274,70"
1,ABIGAIL OLIVEIRA DOS SANTOS,#929,AGENTE DE LIMPEZA,Nov/2020,"R$ 1.198,12","R$ 1.110,35"
2,ABRAHAO SILVA MAIA,#063,GUARDA CIVIL MUNICIPAL,Nov/2020,"R$ 2.060,44","R$ 1.412,46"
3,ADAILTON ANDRADE DE SOUZA,#135,GUARDA CIVIL MUNICIPAL,Nov/2020,"R$ 1.932,45","R$ 1.797,43"
4,ADAILTON CAVALCANTE DE MOURA,##651,GUARDA CIVIL MUNICIPAL,Nov/2020,"R$ 1.942,70","R$ 1.811,80"

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2242 entries, 0 to 2241
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Funcionário        2242 non-null   object
 1   CPF/Matrícula      2242 non-null   object
 2   Cargo              2242 non-null   object
 3   Mês de Referência  2242 non-null   object
 4   Salário Bruto      2242 non-null   object
 5   Salário Líquido    2242 non-null   object
dtypes: object(6)
memory usage: 105.2+ KB